* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

a {
    text-decoration: none;
}

:root{
    --greytxt:#7D7F84;
}

/* REGOLE LAYOUT */

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.box {
    flex-grow: 1;
    background-color: #141922;
    display: flex;
}

.toolbar-multimedia {
    display: flex;
    justify-content: space-between;
    flex-basis: 90px;
    align-items: center;
    flex-shrink: 0;
    min-height: 90px;
    background-color: #282828;
    padding: 20px 0px;
}

.nav-bar-side {
    width: 200px;
    background-color: black;
    /* max-height: 100%; */
}

.main-container {
    flex-grow: 1;
    overflow: auto;
}

.upgrade-bar {
    padding: 1rem 0 1.75rem 0;
    background-color: #080b12;
    text-align: right;
}

.upgrade-button {
    line-height: 60px;
    font-size: 14px;
    font-weight: bold;
    padding: 0 50px;
    border-radius: 50px;
    background-color: #080B12;
}

.upgrade-button a{
    color: white;
}

header p{
    color: white;
}

/* @media (min-width: ;) {
    .nav-bar-side{
        
    }
} */

/* CONTENUTO */

.toolbar-multimedia > *{
    padding: 10px;
    border: 1px solid white;
}

.current-song, .volume{
    flex-basis: 250px;
}

.toolbar-multimedia .player{
    flex-basis: 40%;
}

.player{
    flex-basis: 35%;
}