* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

a {
    text-decoration: none;
}

li{
    list-style: none;
}

:root{
    --greytxt:#7D7F84;
}
 

@media (min-width:552px) { 
    .logo-nav-bar{
        display: block;
    }

    .mobile-logo{
        display: none;
    }
}

/* REGOLE LAYOUT */

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.box {
    flex-grow: 1;
    background-color: #141922;
    display: flex;
}

.toolbar-multimedia {
    display: flex;
    justify-content: space-between;
    flex-basis: 90px;
    align-items: center;
    flex-shrink: 0;
    min-height: 90px;
    background-color: #282828;
    padding: 20px 10px;
}

.nav-bar-side {
    width: 200px;
    background-color: black;
}

.mobile-logo{
    width:30px;
    display: none;
}

.logo-nav-bar {
    width: 120px;
    padding: 20px 0 20px 10px ;
}

.main-container {
    flex-grow: 1;
    overflow: auto;
}

.upgrade-bar {
    padding: 1rem 0 1.75rem 0;
    background-color: #080b12;
    text-align: right;
}



.upgrade-button {
    line-height: 50px;
    font-size: 14px;
    font-weight: bold;
    padding: 0 60px;
    border-radius: 50px;
    background-color: #080B12;
}

.upgrade-button a{
    color: white;
}

header p{
    color: white;
}

/* @media (min-width: ;) {
    .nav-bar-side{
        
    }
} */

/* CONTENUTO LEFTBAR */

.logo-nav-bar {
    width: 140px;
    padding: 1rem 0 30px 0 ;
}

.ul-nav-general i {
    font-size: 20px;
}

.ul-nav-general a{
    color: var(--greytxt);
}

.active-nav, figure {
    margin: 0 1rem;
}

.description-icon {
    display: inline;
    margin-left: 0.5rem;
    line-height: 20px;
    vertical-align: center;
}


.ul-nav-general {
    padding-bottom: 1.5rem;
}

#home, #home-icon {
    color: white;
}

.new-playlist span {
    font-weight: bold;
    font-size: 1.1rem;
}

.wrapper-playlist h3 {
    color: white;
}

.new-playlist i {
    font-size: 2.5rem;
}
.new-playlist {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem 0;
    cursor: pointer;
}

.name-playlist li {
    line-height: 2rem;
    color: var(--greytxt);
    font-size: 12px;
    font-weight: bold;
}

.wrapper-playlist {
    color: var(--greytxt);
    font-size: 16px;
    padding: 0 1rem;
}

.active-nav {
    color: var(--greytxt);
    padding: 0 0 10px 0;
    font-size: 16px;
    font-weight: bold;
}

.install {
    padding: 0 1rem;
} 

.install-link {
    border-bottom: 1px solid var(--greytxt);
    padding: 0.8rem 0;
    color: var(--greytxt);
}

.install-link a{
    color: var(--greytxt);
    font-size: 12px;
    font-weight: bold;
}

.install-link i {
    margin-right: 0.8rem;
}
.new {
    color: var(--greytxt);
}

.user {
    /* font-size: 1.25rem; */
    display: inline;
    margin-left: 1rem;
    font-weight: bold;
}



.profile i {
    font-size: 1.5rem;
    color: var(--greytxt);
}

.profile {
    padding: 0.8rem 0;
    display: flex;
    align-items: center;
}

.nav-general-container {
    display: flex;
    flex-direction: column;
    height: calc(100% - 100px);
    justify-content: space-between;
    padding-bottom: 0.8rem;
}

.new:hover {
    color: white;
    cursor: pointer;
}

.active-nav:hover {
    color: white;
    cursor: pointer;
}

.install-link:hover {
    color: white;
    cursor: pointer;
}




  /* BOTTOM TOOLBAR */


.current-song img{
    width: 50px;
}

.current-song{
    display: flex;
}

.current-song-buttons{
    padding: 0 20px 0 60px;
    color: #7D7F84;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1rem;
}

.current-song-titles{
    padding-left: 10px;
}

.current-song h5{
    color: white;
}

.current-song p{
    color: #7D7F84;
    font-size: 10px;
    font-weight: bold;
    padding-top: 15px;
}


.toolbar-multimedia > *{
    padding: 10px;
    border: 1px solid white;
}

.current-song, .volume{
    flex-basis: 250px;
}

.toolbar-multimedia .player{
    flex-basis: 40%;
}

.player{
    flex-basis: 35%;
}

.volume-buttons{
    display: flex;
    gap: 20px;
    color: white;
    font-size: 0.75rem;
}

.player .player-buttons {
    font-size: 1.50rem;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.play-big{
    font-size: 2.25rem;
}

.player-minutes{
    color: white;
    font-size: 0.65rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.player-scrollbar{
    height: 4px;
    border-radius: 999px;
    background-color: var(--greytxt);
    min-width: 150px;
    flex-grow: 1;
    flex-basis: 150px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}



/* FINE BOTTOM TOOLBAR */

.box-menu{
    display: flex;
    text-align: center;
}

.box-menu-options{
    display: flex;
    gap: 35px;
    margin: auto;
    padding-top: 20px;
}

.box-menu-options a{
    color: var(--greytxt);
    font-weight: bold;
}


